<style type='text/css'>
.header{
   width: 100%;
   left: 0%
}
.colmask{
   width: 100%;
   left: 0%
}
.colmid{ right: 25% }
.colin{ right: 20% }
.colleft{ right: 30% }
.col1{
   width: 28%;
   left: 101%
}
.col2{
   width: 23%;
   left: 48%
}
.col3{
   width: 18%;
   left: 80%
}
.col4{
   width: 23%;
   left: 82%
}
.footer{
   width: 100%;
   left: 0%
}
.header{
   clear: both;
   float: left;
   position: relative;
   border-bottom: #000 1px solid;
   background-color: #b4d2f7
}
.colmask{
   clear: both;
   float: left;
   overflow: hidden;
   position: relative;
   background-color: #b4d2f7
}
.colmid{
   float: left;
   width: 100%;
   position: relative;
   background-color: #b4d2f7
}
.colin{
   float: left;
   width: 100%;
   position: relative;
   background-color: #b4d2f7
}
.colleft{
   float: left;
   width: 100%;
   position: relative;
   background-color: #b4d2f7
}
.col1{
   padding: 0px 0px 1em 0px;
   overflow: hidden;
   float: left;
   position: relative;
   background-color: #99ccff
}
.col2{
   padding: 0px 0px 1em 0px;
   overflow: hidden;
   float: left;
   position: relative;
   background-color: #99ccff
}
.col3{
   padding: 0px 0px 1em 0px;
   overflow: hidden;
   float: left;
   position: relative;
   background-color: #99ccff
}
.col4{
   padding: 0px 0px 1em 0px;
   overflow: hidden;
   float: left;
   position: relative;
   background-color: #99ccff
}
.footer{
   clear: both;
   float: left;
   position: relative;
   border-bottom: #000 1px solid;
   background-color: #b4d2f7
}
.bottom{
   clear: both;
   width: 100%;
   float: left;
   position: relative;
   background-color: #cdeb8b
}
body {
   border-width: 0px;
   padding: 0px;
   margin: 0px;
   font-size: 90%;
   width: 100%;
   min-width: 600px;
}
</style>