.testDiv{

	background-color:	green;
	height:				50px;
	margin:				20px;
}

.navbar-main{
	width: 		100%;
	height:		50px;
	background-color: #444444;
}

.user-stats{
	position:relative;
	width:			100%;
	background-color: #111111;
}
.log-buttons{
	float: right;
}
.logo-button{
	float: left;
}