<html>
<head>
	<!--Main front-end items-->
	<% include partials/head %>
	<% include partials/columnsystem %>
	<title>PlayDuctive</title>
</head>

<body>
	<% include partials/nav %>
	<div class="colmask">
		<div class="header">
			Agile
		</div>
		<div class="colmid">
			<div class="colin">
				<div class="colleft">
					<div class="col1">
						Information
					</div>
					<div class="col2">
						To-Do
					</div>
					<div class="col3">
						In-Progress
					</div>
					<div class="col4">
						Complete
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include partials/bodyScript %>
</body>
</html>