<html>
<head>
    <title>Create a Project</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>
<body>
	<div>Click the button below to create a project.</div>
    <form id="projectForm">
      Project Type:<br>
      <input type="text" name="projType"><br>
      Project Name:<br>
      <input type="text" name="projName"><br>
      Project Description:<br>
      <input type="text" name="projDesc">
    </form>
    <button id="button">Submit</button>
    <script src="create_project.js"></script>

</body>
</html>