<!DOCTYPE html>
<html lang="en">
<head>
	<!--Main front-end items-->
	<% include partials/head %>
	<script type="text/javascript" src="../js/index.js"></script>
	<title>PlayDuctive</title>
</head>
<body>
	<!-- Navigation Bar -->
	<% include partials/nav %>
	<div class="bodyDiv indexBody">
		<div class="logoIndexBody">
			<img src="../img/playLogo.png"/>
			<div class="logoIndexTxt">
				<h1>"Empowering the problem solver in you, combining work and fantasy, be <b>PlayDuctive</b>!"</h1>
			</div>
		</div>
		<div class="sectIndexBody sectPurp">
			<div class="innerIndexBody">
				<div class="textLeft">
					<h1>Partake important Management Quests Quests</h1>
				</div>
				<div class="textRight imgIndex">
					<img src="../img/playManage.png"/>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="sectIndexBody sectWhite">
			<div class="innerIndexBody">
				<div class="textLeft imgIndex">
					<img src="../img/playClasses.png"/>
				</div>
				<div class="textRight">
					<h1>Be one of 6 classes on your journey.</h1>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="sectIndexBody sectPurp">
			<div class="innerIndexBody">
				<div class="textLeft">
					<h1>Level up your skills through completing quests</h1>
				</div>
				<div class="textRight imgIndex">
					<img src="../img/playLevel.png"/>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="sectIndexBody sectWhite">
			<div class="innerIndexBody">
				<div class="textLeft imgIndex">
					<img src="../img/playSocial.png"/>
				</div>
				<div class="textRight">
					<h1>Share your achievements to the world!</h1>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<% include partials/bodyScript %>
</body>
</html>