<!DOCTYPE html>
<html lang="en">
<head>
	<!--Main front-end items-->
	<% include partials/head %>
	<script type="text/javascript" src="../js/index.js"></script>
	<title>PlayDuctive</title>
</head>
<body>
	<!-- Navigation Bar -->
	<% include partials/nav %>
	<div class="bodyDiv indexBody">
		<div class="logoIndexBody">
			<img src="../img/playLogo.png"/>
			<div class="logoIndexTxt">
				<h1>"Empowering the problem solver in you, combining work and fantasy, be <b>PlayDuctive</b>!"</h1>
			</div>
		</div>
		<div class="sectIndexBody sectPurp">
			<div class="innerIndexBody">
				<h5 class="textLeft">Partake important Management Quests Quests</h5>
				<img class="textRight" class="textLeft" src="../img/playManage.png"/>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="sectIndexBody sectWhite">
			<div class="innerIndexBody">
				<img class="textLeft" src="../img/playClasses.png"/>
				<h5 class="textRight">Be one of 6 classes on your journey.</h5>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="sectIndexBody sectPurp">
			<div class="innerIndexBody">
				<h5 class="textLeft">Level up your skills through completing quests</h5>
				<img class="textRight" src="../img/playLevel.png"/>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="sectIndexBody sectWhite">
			<div class="innerIndexBody">
				<img class="textLeft" src="../img/playSocial.png"/>
				<h5 class="textRight">Share your achievements to the world!</h5>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<% include partials/bodyScript %>
</body>
</html>