<!DOCTYPE html>
<html lang="en">
<head>
	<!--Main front-end items-->
	<% include partials/head %>
	<script type="text/javascript" src="../js/index.js"></script>
	<title>PlayDuctive</title>
</head>
<body>
	<!-- Navigation Bar -->
	<% include partials/nav %>
	<div class="bodyDiv indexBody">
		<div class="logoIndexBody">
			<div class="logoIndexImg">
				<img src="../img/playLogo.png" width="500px" height="500px"/>
			</div>
			<div class="logoIndexTxt">
				<h4>"Empowering the problem solver in you, combining work and fantasy, be PlayDuctive!"</h4>
			</div>
		</div>
		<div class="sectIndexBody">

		</div>
		<div class="sectIndexBody">

		</div>
		<div class="sectIndexBody">
		</div>
		<div class="sectIndexBody">
		</div>
	</div>
	<% include partials/bodyScript %>
</body>
</html>