<!DOCTYPE html>
<html lang="en">
<head>
	<!--Main front-end items-->
	<% include partials/head %>
	<script type="text/javascript" src="../js/index.js"></script>
	<title>PlayDuctive</title>
</head>
<body>
	<!-- Navigation Bar -->
	<% include partials/nav %>
	<div class="bodyDiv indexBody">
		<div class="logoIndexBody">
			<img src="../img/playLogo.png" width="200px" height="200px"/>
			<div class="logoIndexTxt">
				<h1>"Empowering the problem solver in you, combining work and fantasy, be PlayDuctive!"</h1>
			</div>
		</div>
		<div class="sectIndexBody">

		</div>
		<div class="sectIndexBody">

		</div>
		<div class="sectIndexBody">
		</div>
		<div class="sectIndexBody">
		</div>
	</div>
	<% include partials/bodyScript %>
</body>
</html>