<!DOCTYPE html>
<html lang="en">
<head>
	<!--Main front-end items-->
	<% include partials/head %>
	<script type="text/javascript" src="../js/index.js"></script>
	<title>PlayDuctive</title>
</head>
<body>
	<!-- Navigation Bar -->
	<% include partials/nav %>
	
	<% include partials/bodyScript %>
</body>
</html>