<html>
<head>
	<!--Main front-end items-->
	<% include partials/head %>
	<title>PlayDuctive</title>
</head>
<body>
	<!--Page that shows what happens when the user's logged in-->
	<% include partials/nav %>
	<% if(proj){
		for(var i = 0; i < proj.length; i++){ %>
		<div class="col-md-3">
			<p><% proj[i] %></p>
		</div>
	<%	}
	} %>
	<form action="/makeProject" method="get">
		<button type="submit">Make Project</button>
	</form>
	<% include partials/bodyScript %>
</body>
</html>