<html>
<head>
	<!--Main front-end items-->
	<% include partials/head %>
	<title>PlayDuctive</title>
</head>
<body>
	<!--Page that shows what happens when the user's logged in-->
	<% include partials/nav %>
	<% if(proj){ 
		var chProj = eval(proj)
		for( var part in chProj){ %>
			<div class="col-md-3">
				<p><%= part.name %></p>
				<p><%= part.stat %></p>
			</div>
	<%	} 
		} %>
		<%= proj %>
	<% } else{ %>
		Oh no!
	<% } %>
	<form action="/makeProject" method="get">
		<button type="submit">Make Project</button>
	</form>
	<% include partials/bodyScript %>
</body>
</html>