<html>
<head>
	<!--Main front-end items-->
	<% include partials/head %>
	<title>PlayDuctive</title>
</head>
<body>
	<!--Page that shows what happens when the user's logged in-->
	<% include partials/nav %>
	<div class="user-welcome">
		<h1 id="logged-welcome">Welcome <%= user %>!</h1>
	</div>
	<div class="body-part">
	<% if(proj){ 
		console.log(proj)
		var chProj = eval(proj)
		for(var i = 0; i < chProj.length; i++){ 
			var piece = chProj[i] %>
			<div class="col-md-3 proj-padding-edit">
				<div class="proj-show">
					<h3><%= piece.name %></h3>
					<p><%= piece.status %></p>
					<form action="/project" method="GET">
						<input type="hidden" name="projectId" value="<%= piece.id %>">
						<button class="proj-view-button" type="submit">View Project</button> 
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
	<% } %>
	<% } else{ %>
		Oh no!
	<% } %>
	<form action="/makeTask" method="get">
		<button class="col-md-12 col-lg-12 make-project" type="submit">Make a Task</button>
	</form>
	</div>
	<% include partials/bodyScript %>
</body>
</html>