<html>
<head>
    <% include partials/head %>
    <title><%= title %></title>
</head>
<body>
  <% include partials/nav %>
  <div class="user-welcome">
	<h1 id="logged-welcome">Making a task for Project: <%= projId %></h1>
  </div>
    <form id="taskForm" action="/makeTask/posts" method="post">
	  Class:<br>
      <select name="class">
          <option value="1">Warrior</option>
          <option value="2">Magician</option>
          <option value="3">Rogue</option>
		  <option value="4">Tinkerer</option>
		  <option value="5">Priest</option>
      </select><br>
	  Task Reward(Min:10 Exp | Max:100 Exp):<br>
	  <input type="number" name="taskexp" min="10" max="100"><br>
      Task Description:<br>
      <input type="text" name="taskDescrip"><br>
      <button type="submit">Make Task</button><br>
    </form>

    
    <script src="../js/create_task.js"></script>
    <% include partials/bodyScript %>
</body>
</html>