<html>
<head>
    <% include partials/head %>
    <title><%= title %></title>
</head>
<body>
  <% include partials/nav %>
  <div class="user-welcome">
    <h1 id="logged-welcome">Making a project for: <%= user %></h1>
  </div>
    <form id="projectForm" action="/makeProject/posts" method="post">
      <input type="hidden" name="projid" value="<%= projId %>">
      Project Type:<br>
      <select name="projType">
          <option value="Waterfall">Waterfall</option>
          <option value="Agile">Agile</option>
      </select><br>
      Project Name:<br>
      <input type="text" name="projName"><br>
      Project Description:<br>
      <input type="text" name="projDesc"><br>
      <!-- form for adding users-->
      Add User<br>
      <input id="addUser" type="text" name="addUser"><br>
      <select id="userSelect" name="userSelect"></select><br>
      <button type="submit">Make Project</button>
      Users Added to Project:<br>
    </form>

    
    <script src="../js/create_project.js"></script>
    <% include partials/bodyScript %>
</body>
</html>