<% if(!user){ //not logged in%>
	<div class="navbar-main">
		<div class="logo-button">
			<form action="/" method="get">
				<button type="submit">Home</button>
			</form>
		</div>
		<div class="log-buttons">
			<button class="showLog">Login</button>
			<button class="showReg">Register</button>
		</div>
	</div>
	<div class="nav-login">
		<h1>Login</h1>
		<form action="/logCheck" method="get">
			<label>Username </label><input type="text" name="user" required/></br>
			<label>Password </label><input type="password" name="pass" required/></br>
			<button type="submit">Login</button>
		</form>
	</div>
	<div class="nav-register">
		<h1>New Account</h1>
		<form action="/login" method="post">
			<input type="hidden" name="register" value="true">
			<label>New Username</label><input id="reg-user" type="text" name="user" required></br>
			<label>Email</label><input type="email" name="email" required></br>
			<label>New Password</label><input id="reg-pass" type="password" name="pass" onkeyup="passCheck()" required></br>
			<label>Repeat Password</label><input id="reg-pass2" type="password" name="pass2" onkeyup="passCheck()" required></br>
			<span id="pass-check"></span></br>
			<span id="user-check">asdfasdfasdf</span></br>
			<button id="reg-button" type="submit" >Create Account</button>
		</form>
	</div>
<% }else { //logged in%>
	<div class="navbar-main nav-log-true">
		<div class="logo-button">
			<form action="/" method="get">
				<button type="submit">Home</button>
			</form>
		</div>
		<div id=loggedInUser><%= user %></div>
			<div class="log-buttons">
				<form action="/login/logout" method="GET"><button type="submit">Logout</button></form>
			</div>
		</div>
		<div class="user-stats">
			<div class="col-md-1 stat-spot">
				<p>Dungeon Master</p>
			</div>
			<div class="col-md-1 stat-spot">
				<p>Warrior</p>
			</div>
			<div class="col-md-1 stat-spot">
				<p>Magician</p>
			</div>
			<div class="col-md-1 stat-spot">
				<p>Rogue</p>
			</div>
			<div class="col-md-1 stat-spot">
				<p>Tinkerer</p>
			</div>
			<div class="col-md-1 stat-spot">
				<p>Priest</p>
			</div>
		</div>
	</div>
<% } %>