<% if(!logged && !user){ %>
	<div class="navbar-main">
		<div class="logo"></div>
		<div class="nav-buttons">
			<button onClick></button>
		</div>
	</div>
<% }else { %>
	<div class="navbar-main">
		<h1><%= user %></h1>
	</div>
<% } %>